.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90dvh;
    width: 100%;
}

.typo {
    font-family: Roboto;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}